body{
    background-color: rgb(96, 121, 150);
}
#form{
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #090808;
    background-color: #f0cdcd61;
}
#form h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 32px;
    color: rgb(37, 21, 21);
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(37, 21, 21);
}
#form input[type="text"],
#form input[type="email"],
#form input[type="password"],
#form input[type="name"],
#form input[type="number"] {
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid rgb(37, 21, 21);
    border-radius: 5px; /*закругленні кути*/
    font-size: 14px;
}
#form input[type="checkbox"] {
    margin-top: 10px;   /* відступ зліва*/
    cursor: pointer;
    width: 20px;
    height: 18px;

}
#form input[type="radio"]{
    margin-top: 18px;
    cursor: pointer;
    width: 30px;
    height: 16px;
}
#form button{
    display: block;
    margin: 12px auto;
    background-color: rgb(37, 21, 21);
    color: #ccc;
    border: 2px solid #536e77;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 80%;
}
@media(max-width:768px){
    #form {
        padding: 15px;
    }
    #form h2{
        font-size: 24px;
    }
    #form button{
        font-size: 20px;
        width: 90%;
    }

}