body {
    font-family: 'Amatic SC', cursive;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.delete-btn {
    margin-left: 10px;
}

#taskInput {
    padding: 10px;
    width: 100%;
}

#addBtn {
    padding: 10px;
    background-color: #f6fb6d;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.delete-btn {
    background-color: #220832;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.complete-btn {
    background-color: #f6fb6d;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

#clearAllBtn {
    background-color: #220832;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}