body {
    margin: 0;
    font-family: 'Montserrat', cursive;
    background-color: #e6e3dd;
    color: #1b263b;
}
header {
    background-color:#1B263B;
    color: aliceblue;
    padding: 20px 2px 50px 0;
    text-align: center;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
}
.navbar-brand{
    font-weight: 900;
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 3px;
    text-decoration: none;
}
.nav-link{
    font-weight: 700;
    color: aliceblue;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 9px;
    transition: color 0.3s ease;
}
.nav-link:hover{
    color:  #ee6c14;
}
.album-button{
    display: inline-block;
    padding: 12px 20px;
    background-color: #E09F3E;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    border-radius: 18px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}
.album-button:hover {
    background-color:  #ee6c14;
}
ul{
    list-style-type: none;
    padding: 19px 20px;
}
.album{
    text-align: center;
    margin-top: 90px;
}
.mur-title{
    color: #E09F3E;
    font-size: 50px;
    margin-bottom: 20px;
}
.history{
    font-size: 35px;
    text-align: center;
    padding-bottom: 4px;
    margin-bottom: 12px;
}
hr{
    height: 3px;
    background-color: #E09F3E;
    border: none;
    width: 30%;
}
.our_history{
    display: flex;
    padding: 25px;
    border-radius: 25px;
    max-width: 900;
    margin: 40px 200px;
}
.history-stripe{
    background-color: #ddd4c1;
    padding: 30px;
    border-radius: 8px;
    margin-top: 40px;
    border-left: 10px solid #E09F3E;
}
.why-mur{
    font-size: 20px;
}
.timeline-item{
    margin: 40px 240px;
    text-align: left;
    position: relative;
    border-left: 4px solid #E09F3E;
    padding-left: 15px;
}
.disk{
    position: absolute;
    max-width: 700;
    top: 0px;
    left: -11px;
    width: 15px;
    height: 15px;
    background-color: #1B263B;
    border: 2px solid #1B263B;
    border-radius: 50%;
}
.year{
    font-size: 18px;
    margin-top: 30px;
}
.timeline-item p{
    color: #00040b;
}
.member{
    background-color:  #ddd4c1;
    margin: 60px 0;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.member-person{
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 23px;
}
.person{
    display: inline-block;
    width: 220px;
    margin: 20px;
    vertical-align: top;
}
.person img{
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}
.person h3{
    font-size: 19px;
    margin: 12px 0;
}
.person p{
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
}
.projects {
    text-align: center;
    margin: 60px 0;
    padding: 20px;
}
.album-projects {
    font-size: 28px;
    margin-bottom: 30px;
}
.album-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 1000px;
    margin: 50px auto;
}
.albums_proj {
    width: 220px;
    text-align: center;
}
.albums_proj img {
    width: 100%;
    height: 300px;
    object-fit: contain; /* показує всю картинку без обрізання */
    border-radius: 12px;
    background-color: #1B263B;
}
.albums_proj a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #E09F3E;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    border-radius: 18px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
.albums_proj a:hover {
    background-color:  #ee6c14;
}
footer{
    background-color: #ddd4c1;
    display: flex;
    justify-content: space-between;
    color: #E09F3E;
    padding: 30px;
    
}
.registration{
    text-align: center;
    margin: 50px 20px;
    width: 100%;
}
.registration h3{
    font-size: 28px;
    margin-bottom: 20px;
    color: #1B263B;
}
.registration button{
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 12px 20px;
    background-color: #E09F3E;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    border-radius: 18px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    border: none;
}
.registration button:hover {
    background-color:  #ee6c14;
}
#form input[type="email"],
#form input[type="text"],
#form input[type="textarea"]{
    width: 30%;
    padding: 9px;
    margin-top: 10px;
    border: 2px solid #1B263B;
    border-radius: 5px;
    font-size: 14px;
}
#form {
  display: flex;
  flex-direction: column; /* розміщує елементи вертикально */
  align-items: center;     /* центрує всі елементи по горизонталі */
  gap: 15px;
}   
table{
    margin: 60px auto;
    border: 2px solid #1B263B;
}
th, td{
    border: 1px solid #1B263B;
    padding: 12px 20px;
    text-align: center;
}
/* @media (max-width: 768px) {
    .our_history {
        flex-direction: column;
        margin: 20px;
    }
    .timeline-item {
        margin: 40px 20px;
    }
    .member-person {
        font-size: 28px;
    }
    .person {
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
    }
    .album-container {
        flex-direction: column;
        align-items: center;
    }
    .registration button{
        width: 50%;
    }
}
@media (max-width: 480px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        margin: 10px 0;
    }
} */
@media (max-width: 768px) {
    .our_history {
        flex-direction: column;
        margin: 20px;
    }
    .timeline-item {
        margin: 40px 20px;
    }
    .member-person {
        font-size: 28px;
    }
    .person {
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
    }
    .album-container {
        flex-direction: column;
        align-items: center;
    }
    .registration button{
        width: 50%;
    }
}
@media (max-width: 480px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        margin: 10px 0;
    }
}