* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #00ff00;
    font-family: 'Space Mono', monospace;
    min-height: 900px;
    overflow: hidden;
}

#form,
#binary-section {
    width: 50%;
    padding: 50px;
    background: rgba(0, 26, 0, 0.5);
    /* Напівпрозорий фон */
    border: 2px solid #00ff00;
    /* Зелена рамка */
    border-radius: 20px;
    /* Закруглені кути */
    box-shadow:
        0 0 15px rgba(0, 255, 0, 0.5),
        /* Зелене свічення */
        0 0 30px rgba(0, 255, 0, 0.3),
        inset 0 0 20px rgba(0, 255, 0, 0.1);
    /* Внутрішнє свічення */
}